.category
  .category_list
    .category_list_title
      カテゴリー一覧
      %ul.category_name_list
        - @categories.each do |categories|
          %li.category_name
            =  link_to "categories/#{categories.id}" do
              %div #{categories.name}
    -# ここからカテゴリー別ゾーン
  - @categories.each do |categories|
    .category_list_box
      %ul.category_list_box_title
        %li #{categories.name}
      .category_list_box_individual
        %div
          = link_to "categories/#{categories.id}" do
            すべて
        - categories.children.each do |child|
          .category_list_box_individual_sub_category_name
            %h4
              = child.name
          .category_list_box_individual_sub_sub_category_box
            .category_list_box_individual_sub_sub_category_name
              - child.children.each do |grandchild|
                %div
                  = link_to "categories/#{grandchild.id}" do
                    = grandchild.name