.exhibition
  = form_with model: @product, local: true do |f|
    .exhibition__logo__box
      = link_to image_tag("logo/logo.png", class: "exhibition__logo", alt: "furima"),root_path, class: "exhibition__logo"
    %main
      .exhibition__container__header
        商品の情報を入力
      .upload__box.exhibition__content__box
        .upload__box__head
          出品画像
          %p.upload__box__head__sub 最大3枚までアップロードできます
        .upload__box__images
          = f.fields_for :images do |i|
            .upload__box__image
              %label{for: "image1"}
                = image_tag "pict/item_upload_dummy.png", alt: "Item upload dummy" ,height: "100%", width: "100%", id: "preview1", class: "preview-image"
              = i.file_field :image, multiple: true, id:"image1", type: "file", accept: "image/*", onchange: "previewImage1(this);", style: "display: none;", name: "images[image][]"
            .upload__box__image
              %label{for: "image2"}
                = image_tag "pict/item_upload_dummy.png", alt: "Item upload dummy" ,height: "100%", width: "100%", id: "preview2", class: "preview-image"
              = i.file_field :image, multiple: true, id:"image2", type: "file", accept: "image/*", onchange: "previewImage2(this);", style: "display: none;", name: "images[image][]"
            .upload__box__image
              %label{for: "image3"}
                = image_tag "pict/item_upload_dummy.png", alt: "Item upload dummy" ,height: "100%", width: "100%", id: "preview3", class: "preview-image"
              = i.file_field :image, multiple: true, id:"image3", type: "file", accept: "image/*", onchange: "previewImage3(this);", style: "display: none;", name: "images[image][]"
      .exhibition__content__box.product__box
        .form__group1
          = f.label :name do
            商品名
            %span.form-description.form-require 必須
          = f.text_field :name, {placeholder: "商品名（必須 40文字まで)", class: "name__input", maxlength: '40'}
        .form__group1
          = f.label :description do
            商品の説明
            %span.form-description.form-optional 任意
          = f.text_area :description, {placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "description__input", maxlength: '1000'}  
      .exhibition__content__box.detail__box
        .section__head
          商品の詳細
        .form__box.detail__form__box
          .form__box__above
            .form-group-top
              .form__group2
                = f.label :カテゴリー, class: "label" do
                  カテゴリー
                  %span.form-description.form-require 必須
                %br
                = f.select :category_id, options_for_select(@category_parent_array.map{|c|[c, {}]}, @product.category.parent.parent.name), {}, {class: 'exhibition__select', id: 'parent_category'}
              .form__group2#children_box
                = f.select :category_id, options_for_select(@category_child_array.map{|c|[c[:name], c[:id], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @product.category.parent.id), {}, {class: 'exhibition__select', id: 'children_category'}
              .form__group2#grandchildren_box
                = f.select :category_id, options_for_select(@category_grandchild_array.map{|c|[c[:name], c[:id], {'data-category'=>c[:id], 'id'=>c[:id]}]}, @product.category.id), {}, {class: 'exhibition__select', id: 'grandchildren_category'}
              = f.text_field :category, id: 'grand_child_result_id', type: 'hidden'
          .form__box__bellow
            .form__group2
              = f.label :size do
                サイズ
                %span.form-description.form-require 必須
              = f.select :size, Product.sizes.keys,{include_blank: '選択してください'},{class: "exhibition__select"}
            .form__group2
              = f.label :brand do
                ブランド
                %span.form-description.form-optional 任意
              = f.text_field :brand, {placeholder: "例) シャネル", class: "brand__input exhibition__select"}
            .form__group2
              = f.label :status do
                商品の状態
                %span.form-description.form-require 必須
              = f.select :status, Product.statuses.keys,{include_blank: '選択してください'},{class: "exhibition__select"}
      -# 配送
      .exhibition__content__box.shipping__box
        .section__head
          配送について
          = link_to "" do
            = icon('fas', 'question-circle', class: "question__icon") 
        .form__box
          .form__group3
            = f.label :delivery_charge do
              配送料の負担
              %span.form-description.form-require 必須
            = f.select :delivery_charge, Product.delivery_charges.keys,{include_blank: '選択してください'},{class: "exhibition__select"}
          .form__group3
            = f.label :delivery_method do
              配送の方法
              %span.form-description.form-require 必須
            = f.select :delivery_method, Product.delivery_methods.keys,{include_blank: '選択してください'},{class: "exhibition__select"}
          .form__group3
            = f.label :delivery_prefecture do
              発送元の地域
              %span.form-description.form-require 必須
            = f.select :delivery_prefecture, Product.delivery_prefectures.keys,{include_blank: '選択してください'},{class: "exhibition__select"}
          .form__group3
            = f.label :delivery_days do
              発送までの日数
              %span.form-description.form-require 必須
            = f.select :delivery_days, Product.delivery_days.keys,{include_blank: '選択してください'},{class: "exhibition__select"}
      .exhibition__content__box.price__box
        .section__head
          販売価格(300〜9,999,999)
          = link_to "" do
            = icon('fas', 'question-circle', class: "question__icon")  
        .form__box
          .from__group4.price__form
            %label.price 
              価格
              %span.form-description.form-require 必須
            .price__form__right
              %p.yen ¥
              = f.number_field :price, {placeholder: "例)300", class: "price__input", id: "price__num", oninput: "calcProfit();", min: 300, max: 9999999}
          .from__group4.commission__form
            .commission__form__left
              販売手数料(10%)
            .commission__form__right#commission__num
              ¥ #{(@product.price*0.1).to_i}
          .from__group4.profit__form
            .profit__form__left
              販売利益
            .profit__form__right#profit__num
              ¥ #{(@product.price*0.9).to_i}
      .exhibition__btn__box
        = link_to '禁止されている出品',''
        、
        = link_to '行為',''
        を必ずご確認ください。
        %p
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to '偽ブランドの販売',''
        は犯罪であり処罰される可能性があります。
        %p
        また、出品をもちまして
        = link_to '加盟店規約',''
        に同意したことになります。
        .exhibition__area
          = f.submit '変更する', class: 'exhibition__btn determine__btn', id: 'send'
        .return__area
          = link_to "戻る", root_path, class: 'return__btn determine__btn'