.top
  .top__visual
    .top__visual-image-area
      = image_tag "pict/bg-mainVisual-pict_pc.jpg", class: "top__visual-image"
    .top__visual-content
      .top__visual-content--subtitle
        人生を変えるフリマアプリ
      .top__visual-content--text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
  .top__category
    .top__category-box
      .top__category-popular
        人気のカテゴリー
      .top__category-items
        %ul.top__category-lists
          %li.top__category-item
            レディース
          %li.top__category-item
            メンズ
          %li.top__category-item
            家電・スマホ・カメラ
          %li.top__category-item
            おもちゃ・ホビー・グッズ
  .top__genre
    .top__genre-box
      .top__genre-box-title
        レディース新着アイテム
      .top__genre-box-more
        もっと見る >
    .top__genre-items
      - @ladies_products.each do |product|
        .top__genre-item
          = link_to product_path(product.id), class:"top__genre-item-link" do
            .top__genre-item-pict
              = image_tag product.images.first.image.url, alt:"商品画像", class: "top__genre-item-img"
            .top__genre-body
              .top__genre-body-price
                .top__genre-body-price--yen
                  ¥
                .top__genre-body-price--value
                  = product.price
              .top__genre-body-name
                = product.name
              -# 商品購入済みであればSOLD OUTを表示
              - if @ladies_transaction.present?
                - if @ladies_transaction.first.product_id == product.id
                  .top__transaction-check
                    .top__transaction-check--btn
                      SOLD OUT
  .top__genre
    .top__genre-box
      .top__genre-box-title
        メンズ新着アイテム
      .top__genre-box-more
        もっと見る >
    .top__genre-items
      - @mens_products.each do |product|
        .top__genre-item
          = link_to product_path(product.id), class:"top__genre-item-link" do
            .top__genre-item-pict
              = image_tag product.images.first.image.url, alt:"商品画像", class: "top__genre-item-img"
            .top__genre-body
              .top__genre-body-price
                .top__genre-body-price--yen
                  ¥
                .top__genre-body-price--value
                  = product.price
              .top__genre-body-name
                = product.name
              -# 商品購入済みであればSOLD OUTを表示
              - if @mens_transaction.present?
                - if @mens_transaction.first.product_id == product.id
                  .top__transaction-check
                    .top__transaction-check--btn
                      SOLD OUT
  .top__genre
    .top__genre-box
      .top__genre-box-title
        家電・スマホ・カメラ新着アイテム
      .top__genre-box-more
        もっと見る >
    .top__genre-items
      - @appliances_products.each do |product|
        .top__genre-item
          = link_to product_path(product.id), class:"top__genre-item-link" do
            .top__genre-item-pict
              = image_tag product.images.first.image.url, alt:"商品画像", class: "top__genre-item-img"
            .top__genre-body
              .top__genre-body-price
                .top__genre-body-price--yen
                  ¥
                .top__genre-body-price--value
                  = product.price
              .top__genre-body-name
                = product.name
              -# 商品購入済みであればSOLD OUTを表示
              - if @appliances_transaction.present?
                - if @appliances_transaction.first.product_id == product.id
                  .top__transaction-check
                    .top__transaction-check--btn
                      SOLD OUT
.footer_sell
  = link_to new_product_path , class:"footer_sell_btn_link" do
    .footer_sell_btn
      .footer_sell_btn_word
        出品
      .footer_icon
        = icon('fas fa-camera', class: "camera_icon")