.top_contents
  .top_contents__visual
    .top_contents__visual__image
      = image_tag "pict/bg-mainVisual-pict_pc.jpg", class: "top_image"
    .top_contents__visual__content
      .top_contents__visual__content__subtitle
        人生を変えるフリマアプリ
      .top_contents__visual__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
  .top_contents__category
    .top_contents__category__box
      .top_contents__category__box__popular
        人気のカテゴリー
      .top_contents__category__box__items
        %ul.top_contents__category__box__items__list
          %li.top_contents__category__box__items__list__item
            レディース
          %li.top_contents__category__box__items__list__item
            メンズ
          %li.top_contents__category__box__items__list__item
            家電・スマホ・カメラ
          %li.top_contents__category__box__items__list__item
            おもちゃ・ホビー・グッズ
  .top_contents__genre
    .top_contents__genre__item-box
      .top_contents__genre__item-box__title
        レディース新着アイテム
      .top_contents__genre__item-box__more
        もっと見る >
    .top_contents__genre__items
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img1.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              サバ缶
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img1.png"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              サバ缶
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img1.png"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              サバ缶
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img1.png"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              サバ缶
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img1.png"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              サバ缶
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img1.png"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              サバ缶
  .top_contents__genre
    .top_contents__genre__item-box
      .top_contents__genre__item-box__title
        メンズ新着アイテム
      .top_contents__genre__item-box__more
        もっと見る >
    .top_contents__genre__items
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img2.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              餃子
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img2.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              餃子
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img2.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              餃子
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img2.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              餃子
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img2.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              餃子
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img2.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              餃子
  .top_contents__genre
    .top_contents__genre__item-box
      .top_contents__genre__item-box__title
        家電・スマホ・カメラ新着アイテム
      .top_contents__genre__item-box__more
        もっと見る >
    .top_contents__genre__items
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img3.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              カレー
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img3.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              カレー
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img3.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              カレー
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img3.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              カレー
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img3.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              カレー
      .top_contents__genre__items__item
        = link_to "#" , class:"top_contents__genre__items__item__link" do
          .top_contents__genre__items__item__pict
            = image_tag "pict/test-img3.png", class: "top_contents__genre__items__item__pict__img"
          .top_contents__genre__items__item__body
            .top_contents__genre__items__item__body__price
              .top_contents__genre__items__item__body__price__yen
                ¥
              .top_contents__genre__items__item__body__price__value
                1200
            .top_contents__genre__items__item__body__name
              カレー

.footer_sell
  = link_to new_product_path , class:"footer_sell_btn_link" do
    .footer_sell_btn
      .footer_sell_btn_word
        出品
      .footer_icon
        = icon('fas fa-camera', class: "camera_icon")