%script{src: "product/new.js", type: "text/javascript"}
.product-show
  .product-show__main
    .product-show__content
      .product-show__top-content
        .product-show__item-box
          .product-show__item-box--name
            = @product.name
          .product-show__item-box__body
            .product-show__item-box__body--top-img
              = image_tag @top_image.image.url, alt:"トップ画像", class: "product-show__item-top-img"
            .product-show__item-box__body--list
              - @images.each do |image|
                .product-show__item-box__body--sub-img
                  = image_tag image.image.url, alt:"サブ画像", class: "product-show__item-sub-img"
          .product-show__item-box--price
            %span 
            = "#{@product.price}円"
            .product-show__item-box--price-detail
              %span.product-show__item-box--price-detail-text
                (税込)
              %span.product-show__item-box--price-detail-text
                = @product.delivery_charge
          .product-show__item-box--item-detail
            = @product.name
          -# 商品出品者であれば表示させない
          - if user_signed_in? && (current_user.id == @product.user_id)
          - else
            .product-show__transaction
              .product-show__transaction-box
                -# 商品購入済みであれば購入させない
                - if @transaction.present?
                  .product-transaction-btn
                    SOLD OUT
                - else
                  = link_to "購入画面に進む", pay_index_transactions_path(product_id: @product), class: "product-transaction-btn"
          %table.product-show__item-box--table
            %tbody.product-show__item-box--table-body
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  出品者
                %td.product-show__item-box--table-data
                  = @user.nickname
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  カテゴリー
                %td.product-show__item-box--table-data
                  = link_to "#{@product.category.root.name}", "#", class: "product-show__table-link"
                  %br
                  = link_to "#{@product.category.parent.name}", "#", class: "product-show__table-link"
                  %br
                  = link_to "#{@product.category.name}", "#", class: "product-show__table-link"
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  ブランド
                %td.product-show__item-box--table-data
                  = link_to "#{@product.brand}", "#", class: "product-show__table-link"
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  商品のサイズ
                %td.product-show__item-box--table-data
                  = @product.size
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  商品の状態
                %td.product-show__item-box--table-data
                  = @product.status
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  配送料の負担
                %td.product-show__item-box--table-data
                  = @product.delivery_charge
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  配送の方法
                %td.product-show__item-box--table-data
                  = @product.delivery_method
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  発送元の地域
                %td.product-show__item-box--table-data
                  = link_to "#{@product.delivery_prefecture}", "#", class: "product-show__prefecture-link"
              %tr.product-show__item-box--table-list
                %th.product-show__item-box--table-title
                  発送日の目安
                %td.product-show__item-box--table-data
                  = @product.delivery_days
          .product-show__item-box--description
            = @product.description
        - if user_signed_in? && (current_user.id == @product.user_id)
          .seler-dedicated
            .edit-box
              = link_to '商品の編集', edit_product_path, method: :get, class: "determine_btn"
            .delete-box
              = link_to 'この商品を削除する', product_path(@product), method: :delete, class: "determine_btn", data: {confirm: "本当に削除しますか？"}
          -# 保留
          -# %ul.product-show__links
          -#   %li.product-show__links-list
          -#     = link_to "< 前の商品", "#", class: "product-show__links-link"
          -#   %li.product-show__links-list
          -#     = link_to "次の商品 >", "#", class: "product-show__links-link"
          -# .product-show__back-link
          -#   .product-show__back--text
          -#     = link_to "レディースをもっと見る", "#", class: "product-show__back-link"
.footer_sell
  = link_to new_product_path , class:"footer_sell_btn_link" do
    .footer_sell_btn
      .footer_sell_btn_word
        出品
      .footer_icon
        = icon('fas fa-camera', class: "camera_icon")