%ul.header_brand{id:"item"}
  %li.header_brand_list
    %h3
      =  link_to categories_path("#") do
        シャネル
  %li.header_brand_list
    %h3
      =  link_to categories_path("#") do
        ナイキ
  %li.header_brand_list
    %h3
      =  link_to categories_path("#") do
        ルイ ヴィトン
  %li.header_brand_list
    %h3
      =  link_to categories_path("#") do
        シュプリーム
  %li.header_brand_list
    %h3
      =  link_to categories_path("#") do
        アディダス
  %li.header_brand_list
    %h3
      =  link_to categories_path("#") do
        ブランド一覧
